export(definePromoters,defineGenes,countTags,pool,diffcomp,plotcomp,html.report,info2osc,osc2info,Select,prepEnsemblAnot,getEnsemblAnot)
import(rbamtools, R2HTML, edgeR, data.table,AnnotationDbi)
importFrom(GenomicFeatures,makeTranscriptDbFromBiomart)
importFrom(biomaRt,getBM,useMart)
